<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>AQ Tape</title>
<meta name="description" content="a friendlier interface for the aquarius records new arrivals list.">
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/soundmanager2.js"></script>
<link rel="stylesheet" type="text/css" href="css/page-player.css" />
<style>
  body { font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif; margin: 0; font-size: 75%; }
  h2 { background-color:#fcffd1; color:#222; font-size:16px; margin:0; padding:1em; border-bottom: 1px solid #fff; } 
  .description { font-size:14px; color:#222; letter-spacing:0; display:none; position:relative; line-height:1.25; padding: .5em 0 1em 0; }
  #content a.order { background-color:#cc9966; text-shadow:none; padding:.5em; position: absolute; right:0; top:0; margin:0; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; color: #fff; }
  #content a:hover.order { background-color: #bb8855; }
  .playlist .sm2_playing .description { display:block; }
  .playlist .sm2_paused .description { display:block; }
  a.mp3 { padding: .25em 0; }
  #footer { background-color: #ccc; padding: 1em 1em; color: #666; border-top: 1px solid #fff; }
  #footer a { color: #333; }
</style>
</head>

<body>
  <div id="content">
    <h2>AQ Tape</h2>
    <ul class="playlist">
    <% @albums.each_with_index do |a,i| %>
      <% a[:mp3s].each do |m| %>
        <li id="release_<%= i %>">
        <a href="<%= m[:url] %>" class="mp3"><b><%= a[:artist] %></b>&mdash; <%= m[:name] %></a>
          <div class="description">
            <p class="album">from <i><%= a[:album] %></i> <a href="http://aquariusrecords.org/bin/search.cgi?searchfield=keyword&search_string=<%= "#{a[:artist]} #{a[:album]}" %>" target="_blank" class="order">Order from Aquarius</a></p>
            <%= a[:description] %>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>

 <div id="control-template">
  <!-- control markup inserted dynamically after each link -->
  <div class="controls">
   <div class="statusbar">
    <div class="loading"></div>
     <div class="position"></div>
   </div>
  </div>
  <div class="timing">
   <div id="sm2_timing" class="timing-data">
    <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span></div>
  </div>
  <div class="peak">
   <div class="peak-box"><span class="l"></span><span class="r"></span>
   </div>
  </div>
 </div>

 <div class="info">
 </div>

 <div id="spectrum-container" class="spectrum-container">
  <div class="spectrum-box">
   <div class="spectrum"></div>
  </div>
 </div> 

 <div id="footer">
   This is provided as a helpful service for browsing the AQ <a href="http://aquariusrecords.org/cat/newest.html">update</a>. All content belongs to <a href="http://aquariusrecords.org">Aquarius Records</a>. If you find this useful, please purchase records from them.</div>

        
<script type="text/javascript" src="js/page-player.js"></script>
<script type="text/javascript">
  $(function() { 
      $('.playlist li').each(function() {
      $('a.info').click(function() {
          $(this).next('.description').toggle();
        });
      });
  });
</script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-599899-13");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
