<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>AQ Tape</title>
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/soundmanager2.js"></script>
<link rel="stylesheet" type="text/css" href="css/page-player.css" />
<style>
  body { font:75% 'Helvetica Neue', Helvetica, Arial, sans-serif; margin:0; }
  h2 { background-color:#fcffd1; color:#222; font-size:16px; margin:0; padding:1em; } 
  .playlist .sm2_link .artist { font-weight:bold; }
  .description { font-size:14px; color:#fff; letter-spacing:0; display:none; position:relative; line-height:1.25; padding-top: .5em; text-shadow: 0px -1px 1px #303030; }
  .playlist a.order { background-color:#2ba8c5; text-shadow:none; padding:.25em; position: absolute; right:0; top:0; margin:0; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; }
  .playlist .description a:hover.order { background-color: #0986a3; }
  .playlist .sm2_playing .description { display:block; }
  .playlist .sm2_paused .description { display:block; }
  .playlist .sm2_paused .description a.order { color: #fff; }
  #footer { background-color: #ccc; padding: .5em 1em; color: #999; }
  #footer a { color: #333; }

</style>
</head>

<body>
  <div id="content">
    <h2>AQ Tape</h2>
    <ul class="playlist">
    <% @albums.each_with_index do |a,i| %>
      <% a[:mp3s].each do |m| %>
        <li id="release_<%= i %>" class="<%= a[:class] %>">
          <a href="<%= m[:url] %>" class="mp3"><%= a[:artist] %>&mdash; <%= m[:name] %></a>
          <div class="description">
            <p class="album">from <i><%= a[:album] %></i> <a href="http://aquariusrecords.org/bin/search.cgi?searchfield=keyword&search_string=<%= "#{a[:artist]} #{a[:album]}" %>" class="order">Order from Aquarius</a></p>
            <%= a[:description] %>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  </div>

 <div id="control-template">
  <!-- control markup inserted dynamically after each link -->
  <div class="controls">
   <div class="statusbar">
    <div class="loading"></div>
     <div class="position"></div>
   </div>
  </div>
  <div class="timing">
   <div id="sm2_timing" class="timing-data">
    <span class="sm2_position">%s1</span> / <span class="sm2_total">%s2</span></div>
  </div>
  <div class="peak">
   <div class="peak-box"><span class="l"></span><span class="r"></span>
   </div>
  </div>
 </div>

 <div class="info">
 </div>

 <div id="spectrum-container" class="spectrum-container">
  <div class="spectrum-box">
   <div class="spectrum"></div>
  </div>
 </div> 

 <div id="footer">
   This is provided as a helpful service for browsing the AQ <a href="http://aquariusrecords.org/cat/newest.html">update</a>. All content belongs to <a href="http://aquariusrecords.org">Aquarius Records</a>. If you find this useful, please consider purchasing records from them.
 </div>

        
<script type="text/javascript" src="js/page-player.js"></script>
<script type="text/javascript">
  $(function() { 
      $('.playlist li').each(function() {
      $('a.info').click(function() {
          $(this).next('.description').toggle();
        });
      });
  });
</script>
</body>
</html>
